<style media="screen">

  /* hack.css overrides by after-dark */
  .hack li ul {
    margin: 0;
  }
  .main {
    padding: 20px 10px;
  }
  nav a:active {
    background-color: #00f;
    color: #fff;
  }
  html {
    font-size: 15px;
  }
  pre {
    background-color: #f8f8f8;
  }
  article [itemprop="description"] {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  /* hack.css overrides by me */
  h2[itemprop="headline"] a {
    color: #000;
    border-bottom: 1px solid black;
  }
  h2[itemprop="headline"] a:hover {
    color: #fff;
    border-bottom: 1px solid #00f;
  }
  a {
    color: #00f;
    border-bottom: 1px solid #00f;
  }
  a:hover {
    background-color: #00f;
    color: #fff;
    border-bottom: 1px solid #00f;
  }
  a:active {
    background-color: #00f;
    color: #fff;
    border-bottom: 1px solid #00f;
  }
  tr.header {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.8);
  }
  td {
    color: rgba(0,0,0,0.8);
    font-weight: 500;
  }
  table tbody td:first-child {
    color: rgba(0,0,0,0.8);
    font-weight: 500;
  }


</style>